In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('city_hotel.csv')

In [4]:
data['is_canceled'] = data['is_canceled'].replace({0: 'Not Cancelled', 1: 'Cancelled'})

In [5]:
counts = data.groupby(['deposit_type', 'is_canceled']).size().unstack().fillna(0)

In [6]:
counts

is_canceled   Cancelled  Not Cancelled
deposit_type
No Deposit        15208          37332
Non Refund          820             24
Refundable           10              5

In [7]:
total = counts.sum(axis=1)

In [8]:
total

deposit_type
No Deposit    52540
Non Refund      844
Refundable       15
dtype: int64

In [9]:
cancellation_rate = (counts['Cancelled'] / total) * 100

In [10]:
cancellation_rate

deposit_type
No Deposit    28.945565
Non Refund    97.156398
Refundable    66.666667
dtype: float64

In [12]:
data.head()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_rate,total_stay_nights,total_guests,guest_group_type
0,Not Cancelled,6,2015,July,27,1,0,2,1,0.0,...,Transient,0.0,0,0,Check-Out,2015-07-03,0.0,2,1.0,Solo
1,Cancelled,88,2015,July,27,1,0,4,2,0.0,...,Transient,76.5,0,1,Canceled,2015-07-01,306.0,4,2.0,Couples
2,Cancelled,65,2015,July,27,1,0,4,1,0.0,...,Transient,68.0,0,1,Canceled,2015-04-30,272.0,4,1.0,Solo
3,Cancelled,92,2015,July,27,1,2,4,2,0.0,...,Transient,76.5,0,2,Canceled,2015-06-23,459.0,6,2.0,Couples
4,Cancelled,100,2015,July,27,2,0,2,2,0.0,...,Transient,76.5,0,1,Canceled,2015-04-02,153.0,2,2.0,Couples

In [15]:
# Add a new column 'guest_origin' based on the 'country' column
data['guest_origin'] = data['country'].apply(lambda x: 'Local' if x == 'PRT' else 'Foreign')

# Display the first few rows to confirm the changes
data[['country', 'guest_origin']].head()

  country guest_origin
0     PRT        Local
1     PRT        Local
2     PRT        Local
3     PRT        Local
4     PRT        Local

In [16]:
# Count total bookings by Local and Foreign guests
total_bookings = data['guest_origin'].value_counts()

# Count total cancellations by Local and Foreign guests
cancellations = data[data['is_canceled'] == 1]['guest_origin'].value_counts()

# Calculate cancellation rate
cancellation_rate = (cancellations / total_bookings) * 100

total_bookings, cancellation_rate

(Foreign    40190
 Local      13209
 Name: guest_origin, dtype: int64, Foreign   NaN
 Local     NaN
 Name: guest_origin, dtype: float64)